@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");



@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/*  MyButton */

.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;

  white-space: nowrap;

}

.MyButton_default {
  background-color: #ececec;
  color: black;
}

.MyButton_positive {
  background-color: #64c964;
  color: white;
}

.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

/* HEADER */

header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {

}

/* ReviewList */

.ReviewList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.ReviewList .menu_wrapper .right_col {
  flex-grow: 1;
}

.ReviewList .menu_wrapper .right_col button {
  width: 100%;
}

.ReviewList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;

  font-size: 18px;
}

/* ReviewITem */

.ReviewItem {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e2e2e2;

  display: flex;
  justify-content: space-between;
}

.ReviewItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.ReviewItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}
.ReviewItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}
.ReviewItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}
.ReviewItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}
.ReviewItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.ReviewItem .emotion_img_wrapper img {
  width: 50%;
}

.ReviewItem .info_wrapper {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}

.ReviewItem .review_date {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.ReviewItem .review_content_preview {
  font-size: 18px;
}

.ReviewItem .btn_wrapper {
  min-width: 70px;
}

/* ReviewEditor */

.ReviewEditor {
}

.ReviewEditor section {
  margin-bottom: 40px;
}

.ReviewEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.ReviewEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;

  font-size: 20px;
}

.ReviewEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.ReviewEditor textarea {

  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 20px;
}

.ReviewEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* EMOTION ITEM */

.EmotionItem {
  cursor: pointer;

  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItem span {
  font-size: 18px;
}

.EmotionItem_off {
  background-color: #ececec;
}

.EmotionItem_on_1 {
  background-color: #64c964;
  color: white;
}

.EmotionItem_on_2 {
  background-color: #9dd772;
  color: white;
}
.EmotionItem_on_3 {
  background-color: #fdce17;
  color: white;
}
.EmotionItem_on_4 {
  background-color: #fd8446;
  color: white;
}
.EmotionItem_on_5 {
  background-color: #fd565f;
  color: white;
}

/* Review */

.ReviewPage {
}

.ReviewPage section {
  width: 100%;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ReviewPage h4 {
  font-size: 22px;
  font-weight: bold;
}

.ReviewPage .review_img_wrapper {
  background-color: #ececec;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.ReviewPage .review_img_wrapper_1 {
  background-color: #64c964;
}
.ReviewPage .review_img_wrapper_2 {
  background-color: #9dd772;
}
.ReviewPage .review_img_wrapper_3 {
  background-color: #fdce17;
}
.ReviewPage .review_img_wrapper_4 {
  background-color: #fd8446;
}
.ReviewPage .review_img_wrapper_5 {
  background-color: #fd565f;
}

.ReviewPage .emotion_descript {
  font-size: 25px;
  color: white;
}

.ReviewPage .review_content_wrapper {
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.ReviewPage .review_content_wrapper p {
  padding: 20px;
  text-align: left;
  font-size: 20px;

  font-weight: 400;
  line-height: 2.5;
}
.dropzone {
  border: 2px dashed #cccccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}